.git
.gitignore

.idea
*.iml
*.ipr
*.iws

build/
!build/libs/*.jar
target/
out/

*.log
logs/


*.tmp
*.temp
.DS_Store
Thumbs.db

test-results/
reports/

application-secret.yml
*.env
.env*

README.md
*.md

node_modules/
.npm
.cache
