version: "3.8"

services:
  backend:
    image: ${ECR_URI}:latest
    ports:
      - "8080:8080"
    container_name: spring-app
    restart: always
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_REDIS_HOST=redis
      - SPRING_REDIS_PORT=6379
    depends_on:
      - redis
  redis:
    image: redis:alpine
    container_name: kldd-redis
    restart: always
    ports:
      - "6379:6379"