spring:
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mysql:8.4:///test_container
  mail:
    username: ${{SPRING_MAIL_USERNAME}}
    password: ${{SPRING_MAIL_PASSWORD}}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  flyway:
    enabled: true
    locations: classpath:db/migration


logging:
  level:
    org.hibernate.SQL: OFF
    org.hibernate.type.descriptor.sql: OFF

jwt:
  secret-key: ${{JWT_SECRET_KEY}}
