springdoc:
  swagger-ui:
    path: /swagger-ui.html
    url: /docs/openapi3.yaml

spring:
  profiles:
    active: prod
  config:
    import: "optional:application-secret.yml"
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    baseline-on-migrate: true
  data:
    redis:
      host: localhost
      port: 6379
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true

server:
  port: 8080

cookie:
  access-name: "access_token"
  refresh-name: "refresh_token"

jwt:
  access-time: 3600000 # 1시간
  refresh-time: 604800000 # 7일