springdoc:
  swagger-ui:
    path: /swagger-ui.html
    url: /docs/openapi3.yaml

spring:
  config:
    import: "optional:application-secret.yml"
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    baseline-on-migrate: true
  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB

server:
  port: 8080

cookie:
  access-name: "access_token"
  refresh-name: "refresh_token"

jwt:
  access-time: 3600000 # 1시간
  refresh-time: 604800000 # 7일

cors:
  allowed-origins:
    - "http://localhost:3000"
    - "https://classic-daramg.duckdns.org"
    - "https://client-amber-sigma.vercel.app"
    - "https://client-kwongeonwoos-projects.vercel.app"
    - "https://www.classicaldaramg.com"
    - "https://classicaldaramg.com"
    - "https://www.classicaldaramz.com"
    - "https://classicaldaramz.com"
