name: spring server cd

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          java-version: '22'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Login to ECR Public
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Docker Build & Push
        env:
          ECR_URI: ${{ secrets.ECR_URI }}
        run: |
          BUILD_DATE=$(date +%s)
          docker build --build-arg BUILD_DATE=$BUILD_DATE -t $ECR_URI:latest .
          docker push $ECR_URI:latest

      - name: EC2 서버 배포
        uses: appleboy/ssh-action@v1.0.3
        env:
          ECR_URI: ${{ secrets.ECR_URI }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: ECR_URI
          script: |
            cd ~/server
            git pull
            docker-compose down
            docker rmi ${{ env.ECR_URI }}:latest || true
            docker-compose pull
            docker-compose up -d
            docker image prune -f