name: CI TEST

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 22
      uses: actions/setup-java@v4
      with:
        java-version: '22'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Test with CI Profile
      env:
        JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
        SPRING_MAIL_USERNAME: ${{ secrets.SPRING_MAIL_USERNAME }}
        SPRING_MAIL_PASSWORD: ${{ secrets.SPRING_MAIL_PASSWORD }}
      run: ./gradlew build -Dspring.profiles.active=ci

    - name: Submit Dependency Graph
      uses: gradle/actions/dependency-submission@v3
